<h1>Some Popular Hits</h1>
</br>
</br>
</br>
<img src="https://charts-static.billboard.com/img/2022/07/beyonce-0na-break-my-soul-kqf-180x180.jpg" alt="album art" width="600" height="600">
<h1>Break my Soul</h1>
<h2> By Beyonce </h2>
</br>
</br>
<img src="https://charts-static.billboard.com/img/2022/04/harry-styles-bma-as-it-was-po3-344x344.jpg" alt="album art" width="600" height="600">
<h1> As It Was </h1>
<h2> By Harry Styles </h2>
</br>
</br>
<img src="https://charts-static.billboard.com/img/2022/04/lizzo-o9x-about-damn-time-f6q-344x344.jpg" alt="album art" width="600" height="600">
<h1>About Damn Time</h1>
<h2> By Lizzo </h2>
</br>
</br>
<img src="https://charts-static.billboard.com/img/1985/08/kate-bush-qv2-running-up-that-hill-1cx-344x344.jpg" alt="album art" width="600" height="600">
<h1> Running up That Hill </h1>
<h2> By Kate Bush </h2>
