<div style="background-image:url('https://7055inc.com/wp-content/uploads/2018/09/musical-symbol-eighth-candy-blue-note.jpg');width:1000px;height:1000px">

<h1>Music Collection</h1>
<p>A webpage for all your music preferences.</p>
<img src="https://7055inc.com/wp-content/uploads/2018/09/musical-symbol-eighth-candy-blue-note.jpg" alt="note picture" width="300" height="300">
<body>
  <p style="Arial">This webpage provides full functionality and control over a variety of lists of songs and tracks that you like. Our service provides
    the addition, editing and deletion of songs, their artist's names, album names and year of release. You can maintain this list
    once you sign up with us. We have a safe and secure user login system that allows us to keep your preferences private if you would
    like that.</p>

</body>
